p.ex1 {
  border: 1px solid red; 
  padding: 35px;
}  

<p class="ex1" style="text-align: left; background-color: #157878; color:white">
  <a href="{{site.baseurl}}/" style="color:white">Home</a> |
  <a href="{{site.baseurl}}/" style="color:white">Admin</a> | 
  <a href="{{site.baseurl}}/" style="color:white">Week 1</a> | 
  <a href="{{site.baseurl}}/" style="color:white">Week 2</a> | 
  <a href="{{site.baseurl}}/" style="color:white">Week 3</a> | 
  <a href="{{site.baseurl}}/" style="color:white">Misc</a>
</p>
