<p class="ex2" style="text-align: center; background-color: #4d4d4d; color:#4d4d4d"><b><u>
  <a href="{{site.baseurl}}/research.html" style="color:white">Projects Home</a> ||
  <a href="{{site.baseurl}}/research_projects/transits.html" style="color:white">High Resolution Spectroscopy</a> ||
  <a href="{{site.baseurl}}/research_projects/retrievals.html" style="color:white">Retrievals</a> ||
  <a href="{{site.baseurl}}/research_projects/multi_d.html" style="color:white">Multi-dimensional Modelling</a>
  </u></b>
</p>
