---
---

@import "{{ site.theme }}";

.page-header{
color:#ffff;
background-color:#333333;
height: 100px;
background-image:linear-gradient(120deg,#333333, #333333);
  
  @include large {
    padding: 1rem 1rem;
  }

  @include medium {
    padding: 1rem 1rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}
