---
---

@import "{{ site.theme }}";

.page-header{
color:#ffff;
background-color:#333333;
height: 70px;
background-image:linear-gradient(120deg,#333333, #333333);
text-align: top;
  
  @include large {
    padding: 0.5rem 0.5rem;
  }

  @include medium {
    padding: 0.5rem 0.5rem;
  }

  @include small {
    padding: 0.5rem 0.5rem;
  }
}
.img-left {
  float: left;
  margin-right: 1em;
}
